In [4]:
# How to use group by + transform
import pandas as pd
data = {
        'Name':['Tom', 'Tom', 'Nik', 'Mike'],
        'Payment':[20, 21, 19, 18]
}
df = pd.DataFrame(data)

# Note that Total payment for Tom is duplicated for all the rows
# Such technique is useful to find out the share of "total" for each observation
df['Total Payment'] = df.groupby('Name')['Payment'].transform('sum')
df['Share of Total'] = df['Payment'] / df['Total Payment']
df

   Name  Payment  Total Payment  Share of Total
0   Tom       20             41        0.487805
1   Tom       21             41        0.512195
2   Nik       19             19        1.000000
3  Mike       18             18        1.000000