In [5]:
# How to use group by + aggregate (alias "agg" is used)
import pandas as pd
data = {
        'Name':['Tom', 'Tom', 'Tom', 'Mike'],
        'Day': [1, 1, 2, 1],
        'Payment': [20, 21, 19, 18]
}
df = pd.DataFrame(data)

df = df.groupby(['Name', 'Day']).agg(TotalDayPayment=('Payment', 'sum'),
                                     NumberOfPaymentPerDay=('Payment','count'))
df

          TotalDayPayment  NumberOfPaymentPerDay
Name Day
Mike 1                 18                      1
Tom  1                 41                      2
     2                 19                      1