In [20]:
# How to use group by + aggregate (alias "agg" is used)
import pandas as pd
data = {
        'Name':['Tom', 'Tom', 'Tom', 'Mike'],
        'Day': [1, 1, 2, 1],
        'Payment': [20, 21, 19, 18]
}
df = pd.DataFrame(data)

# Using the same column name
df1 = df.groupby(['Name', 'Day']).agg({'Payment': 'sum'})
df1

          Payment
Name Day
Mike 1         18
Tom  1         41
     2         19

In [21]:
# Using a new column name
df2 = df.groupby(['Name', 'Day']).agg(TotalDayPayment=('Payment', 'sum'),
                                     NumDayPayments=('Payment', 'count'))
df2

          TotalDayPayment  NumDayPayments
Name Day
Mike 1                 18               1
Tom  1                 41               2
     2                 19               1

In [24]:
# Using a new column name and custom function
# Aggregation with custom function
total_count = len(df['Payment'].index)
def get_share(x):
    # total assumed to be available
    return len(x) / total_count

df3 = df.groupby(['Name', 'Day']).agg(TotalDayPayment=('Payment', 'sum'),
                                     Share=('Payment', get_share))
df3

          TotalDayPayment  Share
Name Day
Mike 1                 18   0.25
Tom  1                 41   0.50
     2                 19   0.25